<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='/navbar/script.js') }}"
    ></script>

  

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='/navbar/style.css') }}">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
   
   <body>
        <span class="navbar-toggler-icon"></span>
      </button>
<nav class="fixed-nav-bar">     
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container1">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            
            <!-- ***** Logo Start ***** -->
            
            <a href="/" class="logo">
              <h4 class="hehe">Pet<span>Me</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              
              
              
              <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="/form">Form</a></li>
              <li class="scroll-to-section"><a href="/about_us">About Us</a></li>
              
              <li class="scroll-to-section"><a href="/Contact">Contact Us</a></li> 
              {% if user.is_authenticated %}
              <li class="scroll-to-section"><div class="main-red-button"><a href="/logout">Logout </a></div></li>
              {% else %}
              <li class="scroll-to-section"><div class="main-red-button"><a href="/login">login</a></div></li>
              
              <li class="scroll-to-section"><div class="main-red-button"><a href="/sign-up">Sign up </a></div></li>
              

              {% endif %}


              
              
              
              
               
            </ul>

          </nav>

           
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            {% endif %} {% endfor %} {% endif %} {% endwith %}
        
             
           
        </div>
        
        
      </div>
    </div>


  </header>
  
</nav>
{% block content %} {% endblock %}

</html>


              
      
                           
            
            <!-- ***** Menu End ***** -->
          
            

   
